# =========================
# INFLUXDB
# =========================
INFLUXDB3_HOST_URL=http://127.0.0.1:8181
INFLUXDB3_DATABASE_NAME=healthwatch
INFLUXDB3_AUTH_TOKEN=apiv3_yourtokenhere

# =========================
# FIREBASE
# =========================
FIREBASE_WEB_API_KEY=AIzaSyBdSZze-ATiqrtZFLpuumGYVA5qXwdhjUU

# =========================
# GRAFANA
# =========================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin