# =========================
# INFLUXDB
# =========================

INFLUXDB3_HOST_URL=http://127.0.0.1:8181
INFLUXDB3_DATABASE_NAME=healthwatch
INFLUXDB3_AUTH_TOKEN=apiv3_yourtokenhere

# =========================
# HIVEMQ
# =========================
HIVEMQ_HOST_URL=abcdefghijklmnopq.rw.mqtt.hivemq.cloud
HIVEMQ_PORT=8883
HIVEMQ_USERNAME=user-test
HIVEMQ_PASSWORD=test1234

# =========================
# GRAFANA
# =========================

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin