# =========================
# INFLUXDB
# =========================

INFLUXDB3_HOST_URL=http://127.0.0.1:8181
INFLUXDB3_DATABASE_NAME=healthwatch
INFLUXDB3_AUTH_TOKEN=apiv3_yourtokenhere

# =========================
# GRAFANA
# =========================

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin