.vscode/*
.env
venv/
env/
# Archivos temporales de Python
__pycache__/
*.pyc

# Credenciales de seguridad de Firebase
firebase-credentials.json

# Influxdb
influxdb-data/
influxdb-plugins/
.influxdb3/