# Servidor web y framework 
fastapi 
uvicorn
python-dotenv

# Conexión con InfluxDB y procesamiento de datos 
influxdb3-python 
pandas 
pyarrow 

# SDK de Firebase y utilidades de red 
firebase-admin 
requests

# Machine Learning
torch
joblib
scikit-learn
numpy